.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.statusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin-left: 20%;
}

.profile {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    margin-left: 50px;
    margin-top: 25px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.cancelButton{
    background-color: var(--primary-color);
}

.buttons {
    display: flex;
    gap: 10px;
}
