button {
    background-color: var(--secondary-color);
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    display: block;
    width: fit-content;
}

label {
    display: block;
}

.form {
    background-color: white;
    width: 350px;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error {
    background-color: #f36266;
    color: white;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}