.container {
    background-color: #fff;
    width: 400px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;

    display: flex;
    flex-direction: column;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    width: 90%;
    height: 70%;
    padding: 15px;
}

.btn{
    width: 60%;
    margin-bottom: 5px;
}

.statusForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 100%;
    height: 1px;
    border: 0.25px solid #f1f1f1;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    margin-top: 4px;
}

.disabledBtn {
    background-color: #ddd;
    cursor: default;
    width: 60%;
    margin-bottom: 5px;
}